@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

html,
body {
    margin: 0;
    padding: 0;

    background: linear-gradient(-45deg, #7623d5, #e73c7e);
    
    font-family: "Ubuntu";
    color: white;
}
