@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    margin: 0;
    padding: 0;

    min-height: 100vh;

    font-family: "Comfortaa", sans-serif;
    color: white;

    background: rgb(67,56,202);
    background: linear-gradient(90deg, rgba(67,56,202,1) 0%, rgba(109,40,217,1) 50%, rgba(190,24,93,1) 100%); 
}
