.skills-page {
    min-height: 100vh;

    .particles {
        position: absolute;
        top: 0;

        z-index: 0;
    }

    main {
        min-height: 100vh;
        text-align: center;

        display: flex;
        justify-content: center;
        align-items: center;

        flex-direction: column;

        button {
            margin: 50px 5px 50px 5px;
        }

        h2 {
            margin: 30px 0 0 0 ;
        }

        .skills-cards {
            width: 50%;
            
            display: flex;
            justify-content: center;
            flex-wrap: wrap;


            .skill-card {
                min-width: 20%;
                
                display: flex;
                align-items: center;
            
                background-color: rgba(255, 255, 255, 0.062);

                border-radius: 0.28571429rem;
                padding: 5px;
                margin: 5px;
            
                user-select: none;

                img {
                    border-radius: 5px;
                }

                p {
                    margin: 0 0 0 10px;
                }

                transition: all 0.1s ease-in-out;
                &:hover {
                    background-color: rgba(255, 255, 255, 0.096);
                }
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .skills-page {
        main {
            margin-top: 15%;

            .skills-cards {
                flex-wrap: wrap;
                width: 100%;

                .skill-card {
                    min-width: 40%;
                }
            }

            button {
                width: 80%;
            }
        }
    }
}
