@media screen and (max-width: 1100px) {
    .footer-component {
        position: absolute;
        bottom: 10px;
        left: 10px;
    }
}

@media screen and (min-width: 1101px) {
    .footer-component {
        position: absolute;
        bottom: 10px;
        left: 10px;
    }
}
